{% extends 'base.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<div class="grid bg-light">
  <div class="container">
    <h1 class="p-4 text-center">{{current_user.fname}}, welcome to your journal!</h1>
      <div class="card bg-white shadow rounded my-3">
        <div class="card-body">
          <h2>Create Your Journal Entry Today</h2>
          <form action ="/journal-saved" method="POST">
              <p>How are you feeling today?</p>
              <!--<textarea name = "journal_entry" rows="15"></textarea>-->
              <div class="the-quill-editor">
                <input name="journal_entry" type="hidden">    
                  <div id="editor-container">
                  </div>
                </div>
              <p>Rank your energy today from Low to High</p>
              <input type="range" name="energy" min="1" max="10" value="5">
              <p>Rank your happiness today from Low to High</p>
              <input type="range" name="happiness" min="1" max="10" value="5">
              <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
    <div class="container d-flex flex-column">
      {% for entry in current_user.entries %}
        <div class="card bg-white shadow rounded my-3">
          <div class="card-body">
            <h3>Entry on {{entry.created_at.month}}/{{entry.created_at.day}}/{{entry.created_at.year}}</h3>
            <p>{{ entry.body }}</p>
            <iframe src="https://open.spotify.com/embed/track/{{entry.spotify_song_id}}" width="300" 
            height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">
            </iframe>
            <p>Mood: {{entry.mood_ranking}}</p>
            <p>Energy: {{entry.energy_ranking}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
  {% endif %}
{% endblock %}