{% extends 'base.html' %}

{% block body %}

  <div><h1>This is your journal</h1></div>
  {% if current_user.is_authenticated %}
    <p>Welcome {{the_user_name.fname}}!</p>
    <div class="card">
        <h2>Create Your Journal Entry Today</h2>
        <form action ="/journal-saved" method="POST">
            <p>How are you feeling today?</p>
            <textarea name = "journal_entry" rows="15"></textarea>    
            <p>Rank your energy today from Low to High</p>
            <input type="range" name="energy" min="1" max="10" value="5">
            <p>Rank your happiness today from Low to High</p>
            <input type="range" name="happiness" min="1" max="10" value="5">
            <input id="today" name="created_at" type="date" style="display:none;">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="grid">
      {% for entry in journal_entries %}
        <div class="card">
          <h3>Entry on {{entry.created_at.month}}/{{entry.created_at.day}}/{{entry.created_at.year}}</h3>
          <p>{{entry.body}}</p>
          <iframe src="https://open.spotify.com/embed/track/{{entry.spotify_song_id}}" width="300" 
          height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">
          </iframe>
          <p>Mood: {{entry.mood_ranking}}</p>
          <p>Energy: {{entry.energy_ranking}}</p>
        </div>
      {% endfor %}

    </div>
    <script>
        document.querySelector("#today").valueAsDate = new Date();
    </script>
  {% endif %}
{% endblock %}