{% extends 'base.html' %}

{% block body %}
<div class="grid background-main">
  <h1 class="text-center pt-5">Please Reset Your Password!</h1>
  <div class="container mb-5 text-center">
    <p>Apologies for this inconvenience. Making sure security measures are up to date!</p>
    

    <!-- REGISTER HERE-->
    <div class="background-element col-lg-6 mb-5 mt-5 p-4 rounded neu-shadow-1 register-module margin-center">
      <form class="form-signin" action ="/password-reset-save" method="POST">
      <h2 class="text-center mb-4">Create Account</h2>
      <div class="form-group">
        <input type="email"
              name="username"
              class="form-control input-lg"
              placeholder="Email Address"
              required
              autofocus>
      </div>
      <div class="form-group">
        <input type="password"
              name="password"
              class="form-control input-lg"
              placeholder="Password"
              required>
      </div>
      <div class="display-block text-center">
        <button class="btn btn-lg neu-button-1 btn-block btn-green" type="submit">Submit</button>
      </div>
      </form>
    </div>
  </div>
  </div>
</div>
{% block js %}
  <script src="../static/js/homepage.js" type="text/babel"></script>
{% endblock %}
{% endblock %}