

{% extends 'base.html' %}
{% block body %}
<div class="grid ">
    <h1 class="text-center">Hello there</h1>
    <div class="container-sm center-block d-flex">
        <div class="col-2">
            <button id="previous-view">Previous</button>
        </div>
        <div class="col-8">
            <div class="center-block">
                <canvas id="myChart"></canvas>
                <button id="month-view">Month</button>
                <button id="week-view">Week</button>
            </div>
        </div>
        <div class="col-2">
            <button id="next-view">Next</button>
        </div>
    </div>
</div>
    
{% endblock %}