

{% if current_user.is_authenticated %}
{% extends 'base.html' %}
{% block body %}
<div class="grid ">
    <h1 class="text-center">Hello there</h1>
    <div class="container-sm center-block d-flex">
        <div class="col-2">
            <button id="previous-view">Previous</button>
        </div>
        <div class="col-8">
            <div class="center-block">
                <canvas id="myChart"></canvas>
                <button id="month-view">Month</button>
                <button id="week-view">Week</button>
            </div>
        </div>
        <div class="col-2">
            <button id="next-view">Next</button>
        </div>
    </div>
</div>
<div class="grid ">
    <div id="test-journal-entries" class="container-md d-flex flex-column">

    </div>
</div>    

{% block js %}
<script src="../static/js/main.js"></script>  
<script src="../static/js/test.jsx" type="text/babel"></script>
{% endblock %} 
{% endblock %}
{% endif %}